.hai{
	background-image:url(../IMG/4_02.png) ;
	padding: 50px 0;
}
.anniu{
	width: 200px;
	line-height: 50px;
	margin: auto;
	text-align: center;
	border: 1px solid #3CBC81;
	border-radius: 25px;
	color: white;
	font-size: 20px;
	background: #3CBC81;
}
.hai>img{
	display: block;
	width: 1000px;
	margin:50px auto;
}
.nav>li:nth-child(3){
	background: #3CBC81;
}
.nav>li:nth-child(3)>a{
	color: white;
}










